.dashboard-layout{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: var(--secondColor);
}

.main-content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    flex: 1;
}

.content{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 15px;
}

.dashboard-wrapper{
    width: 100%;
    position: relative;
    max-width: var(--max-width-dashboard-page);
    box-sizing: border-box;
    background-color: var(--accentColor);
    border-radius: var(--borderRadius);
    border: 1px var(--borderColor) solid;
}