.documents-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px var(--borderColor) solid;
}

.documents-controls-left,
.documents-controls-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.documents-controls-left {
  width: 40px;
}

.documents-controls-right {
  gap: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
}

.documents-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px var(--borderColor) solid;
}

.documents-display {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.documents-display-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  position: relative;
}

.documents-display-table th {
  color: rgb(25, 25, 25);
  background-color: var(--secondColor);
  font-weight: 200;
}

.documents-display-table td,
.documents-display-table th {
  border-bottom: 1px var(--borderColor) solid;
  overflow: hidden;
  min-width: 50px;
  max-width: 200px;
  text-align: center;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.documents-details {
  padding: 10px;
  box-sizing: border-box;
}

.invoice-status-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.invoice-status {
  margin: 0;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}

.invoice-status.paid {
  background-color: rgb(80, 255, 80);
}

.invoice-status.late {
  background-color: rgb(255, 123, 123);
}

.invoice-status.pending {
  background-color: rgb(230, 173, 255);
}
