.documents-container{
    box-sizing: border-box;
    padding: 10px;
    color: black;
    width: 100%;
    max-width: 900px;
}

.documents-mainpulations{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px var(--BorderColor) solid;
}

.documents-box{
    background-color: rgb(255, 255, 255);
    border: 1px var(--BorderColor) solid;
    border-radius: var(--BorderRadius);
    box-sizing: border-box;
    overflow: hidden;
}

.documents-mainpulations-button{
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px var(--BorderColor) solid;
    transition: 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.documents-mainpulations-button-active{
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    background-color: rgb(79, 133, 242);
    border-radius: 5px;
    border: 1px rgb(119, 164, 254) solid;
    transition: 0.25s ease;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.documents-mainpulations-top-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.documents-mainpulations-top-right-view{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.documents-mainpulations-top-right-mobile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--SecondColor);
    padding: 5px 20px;
    border: 1px var(--BorderColor) solid;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;  
    width: 200px;
    overflow-x: auto;        
    overflow-y: hidden;     
  }
  

.documents-mainpulations-top-right-type{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.invoice-entry p{
    width: 33%;
    margin: 0;
    padding: 0;
    border: 1px rgb(37, 37, 37) solid;
}

.invoice-entry{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.invoice-table th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px var(--BorderColor) solid;
    color:rgb(25, 25, 25);
    background-color: var(--SecondColor);
    font-weight: 200;
}
.invoice-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px var(--BorderColor) solid;
}

.documents-list-blocks{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

.documents-list{
    position: relative;
}

.invoice-block-container{
    width: 100%;
    padding: 15px;  
    box-sizing: border-box;
}

.invoice-block-main{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px; 
    box-sizing: border-box;
    border-radius: 10px;
}

.invoice-block{
    background-color: var(--SecondColor);
    border-radius: var(--BorderRadius);
    padding: 10px 0px;
    border: 1px var(--BorderColor) solid;
    box-sizing: border-box;
}

.invoice-block-second{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    box-sizing: border-box;
}

.invoice-block-service{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    box-sizing: border-box;
    background-color: var(--AccentColor);
    border-bottom: 1px var(--BorderColor) solid;
}

.document-manipulations-bottom{
    box-sizing: border-box;
    border-bottom: 1px var(--BorderColor) solid;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    --SearchSize: 40px;
}

.document-manipulations-bottom-input-text{
    background-color: var(--SecondColor);
    height: var(--SearchSize);
    padding: 0px 10px;
    font-size: 16px;
    color:black;
    width: 80%;
    box-sizing: border-box;
    border:none;
}

.documents-mainpulations-top-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.documents-mainpulations-top-left-select {
    color: black;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px var(--BorderColor) solid;
    transition: 0.25s ease;
    background-color: white; 
    font-size: 15px;
    height: 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.document-manipulations-bottom-input-button{
    flex: 1;
    height: var(--SearchSize);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--SecondColor);
    border: none;
    border-left: 1px var(--BorderColor) solid;
    box-sizing: border-box;
    color:black;
}

.invoices-loading{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}



.invoices-loading-icon {
    animation: rotate 2s linear infinite, blink 0.5s ease-in-out infinite;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

