.navbar-container{
    background-color: var(--AccentColor);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px rgb(146, 146, 146) solid;
    padding-inline: 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}